* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  /* background-color: red; */
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  /* background-color: blue; */
  color: rebeccapurple;
  font-size: 100px;
}